# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Node.js CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node-version: [20.x, 22.x]
    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: yarn --frozen-lockfile
    - run: yarn lint
    - run: yarn build
    - run: yarn test:unit
    - run: yarn test:e2e --headless
    - name: Publish
      uses: peaceiris/actions-gh-pages@v4
      if: ${{ github.event_name == 'push' && matrix.node-version == '22.x'}}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist

